<!DOCTYPE html>
<html>
  <head>
    <title>overlay</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.maptiler.com/tileviewer/v1/index.css" type="text/css"/>
    <script src="https://cdn.maptiler.com/tileviewer/v1/index.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      var GOOGLEMAPS_KEY = 'AIzaSyCfO5PY5amy-OzmTLT1FCbLaxQiXhG6puM';
      var data = {
        "name": "overlay",
        "version": "1.0.0",
        "description": "",
        "type": "overlay",
        "format": "png",
        "minzoom": "17",
        "maxzoom": "19",
        "bounds": "-121.87634826,38.00341159,-121.87449450,38.00469781",
        "scale": "1.000000",
        "profile": "mercator"
      };
      tileserver(data);
    </script>
  </body>
</html>
