
{% extends "bootstrap/base.html" %}
{% block title %}
 Hey



{% endblock %}

{% block content %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='9.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jQueryfordevelopment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='5.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{{mymap.js}}

{{mymap.html}}

{% endblock %}
